body {
  margin: 0;
  padding: 0;
  background-color: #b8e2c8;
}
/* Style for the navigation bar */
nav {
	background-color: #150578;
	overflow: hidden;
  height: 45px;
}

/* Style for the navigation bar links */
nav a {
	float: left;
	color: #f2f2f2;
	text-align: center;
	padding: 14px 16px;
	text-decoration: none;
	font-size: 17px;
  font-family: "Roboto", sans-serif;
}

/* Style for the logo image */
nav img {
	float: left;
	height: 45px;
}

/* Style for the dropdown menu */
.dropdown {
	float: left;
	overflow: hidden;
}

/* Style for the dropdown menu button */
.dropdown .dropbtn {
  font-family: "Roboto", sans-serif;
	font-size: 17px;
	border: none;
	outline: none;
	color: white;
	padding: 14px 16px;
	background-color: inherit;
	margin: 0;
}

/* Style for the dropdown menu content */
.dropdown-content {
	display: none;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 160px;
	box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
	z-index: 1;
}

/* Style for the dropdown menu links */
.dropdown-content a {
	float: none;
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
	text-align: left;
}

/* Style for the dropdown menu links on hover */
.dropdown-content a:hover {
	background-color: #ddd;
}

/* Show the dropdown menu when the user hovers over the button */
.dropdown:hover .dropdown-content {
	display: block;
}

.body-text{
  font-family: "Roboto", sans-serif;
  text-align: left;
  color: #0e0e52;
  font-weight: 400;
  font-size: 17px;
}
.highlight-text{
  font-family: "Roboto", sans-serif;
  text-align: left;
  color: #192bc2;
  font-weight: 700;
}
.heading-text{
  font-family: "Roboto", sans-serif;
  text-align: left;
  font-weight: 700;
  color: #0e0e52;
  /* margin-top: 11vh; */
}
.section-text{
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #192BC2;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.section-text2{
  font-family: 'Roboto';
  font-style: italic;
  font-weight: 700;
  font-size: 20px;
  line-height: 23px;
  color: #0E0E52;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.blockline{
  position:relative;
  width:80%;
  top: 0vh;
  border: 1px solid #192BC2;
}
#title {
  position: absolute;
  width: 926px;
  height: 59px;
  left: 257px;
  top: 410px;
}
#logo {
  position: absolute;
  width: 326px;
  height: 139px;
  left: 202px;
  top: 130px;
}
#line1 {
  position: absolute;
  width: 650px;
  height: 0px;
  left: 587px;
  top: 64px;
  border: 1px solid #192BC2;
}
#line2{
  position: absolute;
  width: 650px;
  height: 0px;
  left: 587px;
  top: 115px;
  border: 1px solid #192BC2;
}
#line3{
  position: absolute;
  width: 650px;
  height: 0px;
  left: 587px;
  top: 166px;
  border: 1px solid #192BC2;
}
#line4{
  position: absolute;
  width: 650px;
  height: 0px;
  left: 587px;
  top: 217px;
  border: 1px solid #192BC2;
}
#line5{
  position: absolute;
  width: 650px;
  height: 0px;
  left: 587px;
  top: 268px;
  border: 1px solid #192BC2;
}
#line6{
  position: absolute;
  width: 650px;
  height: 0px;
  left: 587px;
  top: 319px;
  border: 1px solid #192BC2;
}
#section1box {
  position: absolute;
  width: 76px;
  height: 23px;
  left: 603px;
  top: 70px;
}
#section1_2 {
  position: absolute;
  width: 200px;
  height: 23px;
  left: 80px;
  top:0px;
}
#section2box {
  position: absolute;
  width: 60px;
  height: 23px;
  left: 603px;
  top: 120px;
}
#section2_2 {
  position: absolute;
  width: 500px;
  height: 23px;
  left: 65px;
  top:0px;
}
#section3box {
  position: absolute;
  width: 409px;
  height: 23px;
  left: 603px;
  top: 170px;
}
#section3_2 {
  position: absolute;
  width: 500px;
  height: 23px;
  left: 77px;
  top:0px;
}
#section4box {
  position: absolute;
  width: 431px;
  height: 23px;
  left: 603px;
  top: 220px;
}
#section4_2 {
  position: absolute;
  width: 500px;
  height: 23px;
  left: 60px;
  top:0px;
}
#section5box {
  position: absolute;
  width: 445px;
  height: 23px;
  left: 603px;
  top: 270px;
}
#section5_2 {
  position: absolute;
  width: 500px;
  height: 23px;
  left: 57px;
  top:0px;
}
#illustration {
  position: absolute;
  width: 522px;
  height: 382px;
  left: 459px;
  top: 478px;
}

#bodyblock1{
  top: 135%;
  position: absolute;
  /* background-color: #7699D4; */
}
#bodyblock2{
  top: 255%;
  position: absolute;
}
#bodyblock3{
  top: 445%;
  position: absolute;
}
#bodyblock4{
  top: 610%;
  position: absolute;
}
#bodytext{
  margin-top: 110vh;
  display: block;
  margin-left: 10vw;
  width: 80%;
}
#bodytext1{
  display: block;
  position:relative;
  margin-left: 10vw;
  margin-top: 5vh;
  width: 80%;
}
#bodytext2{
  display: block;
  position:relative;
  margin-left: 10vw;
  width: 80%;
}
#bodytext3{
  display: block;
  position:relative;
  margin-left: 10vw;
  width: 80%;
}
#bodytext4{
  display: block;
  position:relative;
  margin-left: 10vw;
  width: 80%;
}
